### Data
data/captured_images/
data/task_queue/
data/application.db

### IDEs
.idea/
.vs/
workspace.code-workspace

### Python
.venv/
.venv-dev/
__pypackages__/
__pycache__/
*.py[cod]
*$py.class

### Translations
*.mo
*.pot
