{% extends "layouts/base.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">
            {{ context.title }}
        </h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Captured Images</p>
                    <p class="title">{{ context.stats.captures }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Detections</p>
                    <p class="title">{{ context.stats.detections }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Recognition</p>
                    <p class="title">{{ context.stats.recognition }}</p>
                </div>
            </div>
        </nav>
    </div>
</section>
{% endblock %}
