body > footer {
    padding: 20px 0;
}

h1.title {
    text-align: center;
}

#reports .card-footer-item:hover {
    background-color: #1d72aa;
    color: #fff;
}

#report-details .content {
    justify-content: space-between;
}

#report-details .preview {
    position: relative;
    margin-bottom: 2em;
    width: 49%;
    flex: 0 49.5%;
}

#report-details .preview .capture {
    position: relative;
    left: -0.5rem;
    height: auto;
    width: 100%;
}

#report-details .preview .recognition {
    border-bottom: 1px solid #d9d9d9;
    padding: 2px 4px 4px;
}

#report-details .preview .recognition:not(:last-child) {
    margin-bottom: 0.5em;
}

@media (max-width: 1300px) {
    #report-details .preview {
        flex: none;
        width: 100%;
    }
}
